@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=Quicksand:wght@500&family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}


